@model Employee

<form asp-controller="Shipper" asp-action="Create" method="post">
    <div class="mb-3">
      <label asp-for="FirstName" class="form-label">Ad</label>
      <input type="text" class="form-control" asp-for="FirstName">
    </div>

    <div class="mb-3">
      <label asp-for="LastName" class="form-label">Soyad</label>
      <input type="text" class="form-control" asp-for="LastName">
  
    </div>

    <div class="mb-3">
      <label asp-for="Address" class="form-label">Adres</label>
      <input type="text" class="form-control" asp-for="Address">
  
    </div>

</form>