@model Shipper


<form asp-controller="Shipper" asp-action="Update" method="post">
    <input type="hidden" asp-for="ShipperId" value="@Model.ShipperId" />
    <div class="mb-3">
      <label asp-for="CompanyName" class="form-label">Firma Adi</label>
      <input type="text" class="form-control" asp-for="CompanyName" value="@Model.CompanyName">
    </div>

    <div class="mb-3">
      <label asp-for="Phone" class="form-label">Telefon</label>
      <input type="text" class="form-control" asp-for="Phone" value="@Model.Phone">
  
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>

</form>