@model ICollection<Kisi>

<table class="table table-hover">

    <thead>
        <tr>
            <td>Adi</td>
            <td>Soyadi</td>
            <td>Gsm</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.Gsm</td>
            </tr>
        }
    </tbody>
</table>